PROJECT_NAME = "Andrew and Nick's Project"

INPUT = src/ etc/doxygen.config makefile README.md
OUTPUT_DIRECTORY = doc/

GENERATE_HTML = YES
GENERATE_RTF = YES
GENERATE_LATEX = YES
GENERATE_MAN = YES
GENERATE_XML = NO
GENERATE_DOCBOOK = NO

USE_PDF_LATEX = YES
USE_PDF_HYPERLINKS = YES

RECURSIVE = YES
SOURCE_BROWSER = YES
SOURCE_TOOLTIPS = YES
EXTRACT_ALL = YES
DISABLE_INDEX = NO
GENERATE_TREEVIEW = YES
SEARCHENGINE = YES
SERVER_BASED_SEARCH = NO
USE_MDFILE_AS_MAINPAGE = README.md

LATEX_SOURCE_CODE = YES
STRIP_CODE_COMMENTS = YES
INLINE_SOURCES = YES

HAVE_DOT = YES
CALL_GRAPH = YES
CALLER_GRAPH = YES
